@import "tailwindcss";

@theme {
  /* Cores da Identidade Visual do Daniel Camaforte */
  --color-primary: #e3cb85;   /* Ocre */
  --color-secondary: #606f95; /* Azul Profundo */
  --color-accent: #b38b4d;    /* Ocre Escuro */
  --color-neutral: #fcfaf6;   /* Off-white Leve */
  
  /* Fontes Elegantes */
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

/* Estilos de Base */
body {
  background-color: var(--color-neutral);
  color: var(--color-secondary);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}